@page "/courses"
@using LexiconLMS.App.Client.Models;
@using LexiconLMS.App.Client.Services;
@using Microsoft.AspNetCore.Authorization;
@inject LMSClient lsmClient;
@inject AlertService AlertService

@attribute [Authorize]

<button class="btn btn-primary" @onclick="() => ModalShow(0)">New</button>
<BlockGroupTemplate Items="CourseList" Context="item" Collapsable="false" Cols="1" Id="section-courses" TableHeaders="TableHeaderList">
    <GroupHeader>Courses</GroupHeader>
    <TableTemplate Context="item">
        <tr>
            <th scope="row">@item.Id</th>
            <td><span class="badge bg-success">Published</span></td>
            <td><span class="fw-bold">@item.Title</span></td>
            <td>@item.StartTime</td>
            <td>@item.EndTime</td>
            <td class="text-end">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary btn-sm" @onclick="() => ModalShow(item.Id)">Edit</button>
                    <button class="btn btn-danger btn-sm" @onclick="() => ModalShow(item.Id)">Delete</button>
                </div>
            </td>
        </tr>
    </TableTemplate>

</BlockGroupTemplate>



@if (showModal)
{
    <div class="modal fade show" id="myModal" style="display:block" aria-modal="true" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Confirm action</h4>
                    <button type="button" class="close" @onclick="@ModalCancel">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <CreateCourseForm Course="@SelectedCourse" SaveEvent="OnSaved"></CreateCourseForm>
                </div>

@*                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn" @onclick="@ModalCancel">Cancel</button>
                    <button type="button" class="btn btn-danger" @onclick=@ModalOk>Delete</button>
                </div>
*@
            </div>
        </div>
    </div>
}
@if (showAlert)
{
    <div class="myAlert-bottom alert alert-success">
       @* <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>*@
        <strong>Success!</strong> Indicates a successful or positive action.
    </div>
}

<AlertComponent />
@code {
    private List<CourseDto> CourseList { get; set; } = new();
    private List<string> TableHeaderList { get; set; } = new();
    CourseDto? SelectedCourse { get; set; }
    protected override async Task OnInitializedAsync()
    {
        CourseList = (await lsmClient.GetAsync<CourseDto>("api/courses")).ToList();
        //TableHeaderList = CourseList.FirstOrDefault().GetCourseMembers();
        TableHeaderList = new() {"#","Status","Title","Start Time","End Time", "" };
        Console.WriteLine(TableHeaderList.Count);
    }

    async Task OnSaved(CourseDto course)
    {
        var courseInList = CourseList.FirstOrDefault(c => c.Id == course.Id);
        string messageString = string.Empty;

        if (courseInList==null)
        {
            CourseList.Add(course);
            messageString = $"Successfully added {course.Title}";
        }
        else
        {
            if (courseInList != null)
            {
                courseInList = course;
                messageString = $"Successfully updated {course.Title}";
            }
        }
        showModal = false;
        //showAlert = true;
        AlertService.addMessage(new Alert(messageString, Alerts.Success));
    }

    bool showAlert = false;


    bool showModal = false;

    //void ModalShow() => showModal = true;
    void ModalCancel() => showModal = false;
    void ModalOk()
    {
        showModal = false;
    }
    void ModalShow(int id)
    {
        SelectedCourse = CourseList.FirstOrDefault(c => c.Id == id, new());
        showModal = true;
    }
}
