@using Microsoft.AspNetCore.Authorization;
@using LexiconLMS.App.Client.Services;

@inject AuthenticationStateProvider authStateProvider;
@inject IJSRuntime JsRuntime
@inject LMSClient lsmClient;

@page "/"
@attribute [Authorize]

<PageTitle>@Course.Title</PageTitle>

<h1 class="text-end text-muted">@($"{Course.Title} {Course.StartTime.ToString("yy-MM-dd")} - {Course.EndTime.ToString("yy-MM-dd")}")</h1>
@*<a class="btn btn-primary" @onclick="@(() => OpenDialog(0))">
    New
</a>
<a class="btn btn-primary" @onclick="@(() => OpenDialog(Course.Id))">
    Update
</a>
<BlockGroupTemplate Items="ModuleItems" Context="item" Collapsable="false" Cols="4" Id="section-modules">
    <GroupHeader>My Modules</GroupHeader>
    <CardTemplate Context="item">
        <CardModule CardClick="OnModuleSelect" EditClick="OpenDialog" item="item" Muted="true"></CardModule>
    </CardTemplate>
</BlockGroupTemplate>

<BlockGroupTemplate Items="ActivityItems" Context="item" Collapsable="false" Cols="1" Id="section-activities" Links="true">
    <GroupHeader>My Activities for @SelectedModule.Title</GroupHeader>
    <LinkTemplate>
        <div><a href="#" @onclick="()=>OnActivitySelect(item.Title)">@item.Title</a></div>
    </LinkTemplate>
    <CardTemplate Context="item">
        <CardModule item="item" Shadow="true" Muted="false" Time="true"></CardModule>
    </CardTemplate>
</BlockGroupTemplate>*@

@*
    section start for testing ModalComponent
*@


@if (DialogIsOpen)
{
    <ModalTemplate Caption="@caption"
                OnClose="@OnDialogClose"
               Type="@modalType">
        <FormTemplate>
          @*  <CreateModuleForm Module="@SelectedModule"></CreateModuleForm>*@
            <TestForm @ref="editForm" Item="@tempItem">
            </TestForm>
        </FormTemplate>
    </ModalTemplate>
}

@*
    section end for testing ModalComponent
*@


@code {

    private CourseDto Course { get; set; } = new();
    private ModuleDto SelectedModule { get; set; } = new();
    private List<ModuleDto> ModuleItems { get; set; } = new();
    private List<ActivityDto> ActivityItems { get; set; } = new();

    /// <summary>
    /// section for testing modalComponent
    /// </summary>
    ///

    //reference to the editform and it's members
    private TestForm? editForm;

    private int idCourse;
    private string test = "Update module";
    private string caption = string.Empty;
    private bool DialogIsOpen = false;
    private ModalTemplate.Category modalType;

    private ModuleDto tempItem = new ModuleDto();

    private void OpenDialog(int id)
    {
        DialogIsOpen = true;

        //change depending on parameters to OpenDialog?
        if (id != 0)
        {
            var listItem = ModuleItems.FirstOrDefault(m => m.Id == id);

            tempItem = new ModuleDto()
                {
                    Title = listItem.Title,
                    Description = listItem.Description,
                    StartTime = listItem.StartTime,
                    EndTime = listItem.EndTime,
                    Id = listItem.Id,

                    //IEntity doesn't have these...
                    CourseId = listItem.CourseId,
                    Activities = listItem.Activities
                };
        }

        caption = "title";
        modalType = ModalTemplate.Category.SaveNot;
    }
    private async Task OnDialogClose(bool isOk)
    {
        if (isOk)
        {
            await editForm.OnSave();
            //how to differentiate here?

            //set the selected to the edited one and update activities
            SelectedModule = ModuleItems.FirstOrDefault(m => m.Id == tempItem.Id);
            UpdateActivitiesList();

            SelectedModule.Title = tempItem.Title;
            SelectedModule.Description = tempItem.Description;
            SelectedModule.StartTime = tempItem.StartTime;
            SelectedModule.EndTime = tempItem.EndTime;
            SelectedModule.Id = tempItem.Id;


            //await authorService.Delete(idAuthor);
            //authors = await authorService.ListAll((curPage - 1) *
            //pageSize, pageSize, sortColumnName, sortDir, searchTerm);
        }
        DialogIsOpen = false;
    }

    /// <summary>
    /// end section test ModalComponent
    /// </summary>

    private void UpdateActivitiesList()
    {
        ActivityItems = SelectedModule.Activities.OrderBy(a => a.StartTime).ToList();
    }

    protected override async Task OnInitializedAsync()
    {
        //create an empty item of type ModuleDto to not have it empty
        tempItem = new ModuleDto();


        var userCourseIdStr = (await authStateProvider.GetAuthenticationStateAsync()).User.FindFirst("CourseId")?.Value;
        var userCourseIdInt = 0;
        if (!string.IsNullOrEmpty(userCourseIdStr))
        {
            try
            {
                userCourseIdInt = Int32.Parse(userCourseIdStr);
            }
            catch (FormatException)
            {
                Console.WriteLine($"Unable to parse '{userCourseIdStr}'");
            }

            //need to fix all int/str things here!


            if (userCourseIdInt > 0)
            {
                Course = (await lsmClient.GetByIdAsync<CourseDto>(userCourseIdInt.ToString(), "api/courses"));
            }
        }

        if (string.IsNullOrEmpty(Course.Title))
        {
            Course = (await lsmClient.GetByIdAsync<CourseDto>("1", "api/courses"));
        }

        ModuleItems = Course.Modules;
        SelectedModule = ModuleItems.FirstOrDefault();

        ActivityItems = SelectedModule.Activities.OrderBy(a => a.StartTime).ToList();
    }

    //protected override async Task OnAfterRenderAsync(bool firstRender)
    //{
    //    //this doesn't work right now... how to fix?
    //    if (firstRender && Course==null)
    //    {
    //       // await JsRuntime.InvokeVoidAsync("setSelected", $"card-{SelectedModule.Title}");
    //        //StateHasChanged();
    //    }
    //}

    private async Task OnModuleSelect(int id)
    {
        SelectedModule = ModuleItems.FirstOrDefault(m => m.Id == id);

        UpdateActivitiesList();

        await JsRuntime.InvokeVoidAsync("setSelected", $"card-{SelectedModule.Title}");
        await JsRuntime.InvokeVoidAsync("scrollIntoView", "section-activities");
    }

    private async Task OnActivitySelect(string id)
    {
        await JsRuntime.InvokeVoidAsync("scrollIntoView", $"card-{id}");
    }


}



    @*<CreateCourseForm Course="Course"></CreateCourseForm>*@
@*<CreateCourseForm Course="Test"></CreateCourseForm>*@
@*<CreateCourseForm></CreateCourseForm>*@

@*<CreateModuleForm></CreateModuleForm>*@
@*<CreateModuleForm Course="Course"></CreateModuleForm>*@
@*<CreateModuleForm Module="SelectedModule"></CreateModuleForm>*@

@*<CreateActivityForm Module="SelectedModule"></CreateActivityForm>*@
@*<CreateActivityForm Activity="Activity"></CreateActivityForm>*@
@*<CreateActivityForm></CreateActivityForm>*@